<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body>
{% for control in controlset %}
<label>控制仪器id:</label>
{#    <input type="text" value="{{ control.control_id}}" disabled="disabled">#}
    <a>{{ control.control_id }}</a>
    <br>
{% endfor %}
</body>

<script language="JavaScript">

function myrefresh() {
    window.location.reload();
}
setTimeout('myrefresh()', 5000); //指定1秒刷新一次
</script>

</html>